 body {
     height: 100vh;
     width: 100vw;
     /* Using a scenic dark moody plantation mountain view as background */
     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
         url('https://i.pinimg.com/736x/38/8e/64/388e6440cb45dd4a9fd54f156b3e3c4f.jpg') no-repeat center center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }
 /* Registration card with a semi-transparent white background */
 .card {
     width: 100%;
     max-width: 480px;
     background-color:#513C26;
     padding: 35px;
     border-radius: 15px;
     
    
 }
 #registrationForm{
    background-color: none;
 }
